<p>pratices works!</p>


<!-- <input type="text" #step>
<input type="submit"  (click)="gen(step.value)">
{{gen1}} 

 <input type="text"  [(ngModel)]="name"> -->

<!-- {{name}} -->

<!-- <img [src]="imageurl"> -->
<!-- 
<div *ngFor ="let cell of days">
    <div *ngIf="cell == 'sunday' || cell == 'saturday' ; else notDays">
        <h1>{{cell}}: leave days</h1>
    </div>
    <ng-template #notDays>
        <h1>{{cell}}:week days</h1>
    </ng-template>  
</div>  -->



<input type="text" #super>
<input type="button" (click)="small(super.value)" value="Submit">

 